.main-container {
    position: relative;
    margin: auto;
    height: 100vh;
    /*background-image: linear-gradient(to top left, rgba(153, 164, 178, .5), rgba(240, 248, 255, 1));*/
}

.sub-container {
    max-width: 450px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 50%;
    height: 500px;
    display: flex;
    border: 1px solid rgba(10, 11, 14, .1);
    background-image: linear-gradient(to top left, rgba(153, 164, 178, .1), rgba(240, 248, 255, .05));
    -webkit-box-shadow: 6px 6px 15px -8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 6px 6px 15px -8px rgba(0, 0, 0, 0.1);
    box-shadow: 6px 6px 15px -8px rgba(0, 0, 0, 0.1);
    align-items: center;
}


.label{
    font-family: 'Play', sans-serif;
    font-size: 1.4rem;
    /*margin-left: 10px;*/
    position: absolute;
    width: fit-content;

    margin: auto;
    left: 0;
    right: 0;
    top: 10%;
    /*transform: translateX(-60%);*/
}
.div1{
    width: calc(100%/6);
}
.div2{
    position: relative;
    width: calc((100%/6)*4);
    height: 70%;
}
.div3{
    width: calc(100%/6);

}
.box{
    position: absolute;
    top: 12%;
    margin: auto;
    left: 0;
    right: 0;

}