.main-container {
    position: relative;
    margin: auto;
    height: 100vh;
    /*background-image: linear-gradient(to top left, rgba(153, 164, 178, .5), rgba(240, 248, 255, 1));*/
}

.sub-container1 {
    max-width: 600px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 50%;
    height: 650px;
    border: 1px solid rgba(10, 11, 14, .1);
    background-image: linear-gradient(to top left, rgba(153, 164, 178, .1), rgba(240, 248, 255, .05));
    -webkit-box-shadow: 6px 6px 15px -8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 6px 6px 15px -8px rgba(0, 0, 0, 0.1);
    box-shadow: 6px 6px 15px -8px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 80px;
    margin: 10px;
    display: block;
}

.label1 {
    font-family: 'Play', sans-serif;
    font-size: 1.4rem;
    margin-left: 10px;
}

.grid{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
    position: relative;
    top: 50px;
}

.signInForm > div {
    width: 100%;
    height: calc(100% / 6);
    /*background-color: rgba(32, 35, 42,.1);*/
}
.btnSave, .btnChoose {
    margin: 10px;
    padding: 5px;
}

.btnSave {
    position: relative;
    left: 60%;
    width: 150px;
    height: 40px;
    background-color: rgba(13, 85, 157, .8);

}

.lblIns {
    display: block;
    font-size: .8rem;
    margin: 10px;
}

input,TextField{
    height: 25px;
    margin: 10px;
    width: 200px;
    font-size: .9rem;
}
.user-name {
    display: block;
}
.e-mail,.address{
    width: 430px;
}


