.header {
    position: relative;
    background-color: rgba(32, 35, 42, 1);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 40px;
    align-items: center;
    backdrop-filter: blur(20px);
    z-index: 3;
}

.navbar {
    position: relative;
    left: -11%;
    width: 35%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.logo {
    width: 120px;
}

.link {
    color: aliceblue;
    text-decoration: none;
    border-bottom-left-radius: 2px;
}

.linkActive {
    color: aliceblue;
    border-bottom: 2px solid rgba(153, 164, 178,.8);
    text-decoration: none;
    animation: border-fill .5s ease;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

}

@keyframes border-fill {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }

}