.header {
    position: relative;
    background-color: rgba(32, 35, 42, 1);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 40px;
    align-items: center;
    backdrop-filter: blur(20px);
    z-index: 3;
}

.navbar {
    position: relative;
    left: -10%;
    width: 35%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: aliceblue;
}

.logo {
    width: 120px;
}